/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* Color scheme variables */
:root {
  --burlywood: #FBF6EF;
  --bistre: #473328;
  --yellow: #CAAF02;
  --gunMetal: #172B3A;
  --gunMetalOP: rgba(23, 43, 58, 0.5);
  --steelBlue: #4681AF;
  --beauBlue: rgba(240, 245, 249, 0.8);
  --infoBg: rgba(71, 51, 40, 0.7);
}
/* General styling */
html {
    font-size: 62.5%;
}
body {
	line-height: 1;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* info to be animanted */
.sub-info {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 5px;
margin: 5% 0;
background-color: var(--gunMetalOP);
padding: 3%;
}
